# Contents

- importing ords_prods

- defining pricel label flag in df

- Creating busiest days flag

- Creating busiest period of day flag

- export as pkl

In [7]:
import pandas as pd
import numpy as np
import os

In [8]:
path = r"C:\Users\ryani\Desktop\Data Analyst COURSE\Data Immersion\06-2025 E4 INSTACART Py"

In [55]:
df_ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined_new.pkl'))

In [56]:
df_ords_prods_merge

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,merge_indicator
0,2539329.0,1.0,1,2,8,NaN,True,196.0,1,0,both,Soda,77,7,9.0,both
1,2539329.0,1.0,1,2,8,NaN,True,14084.0,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,2539329.0,1.0,1,2,8,NaN,True,12427.0,3,0,both,Original Beef Jerky,23,19,4.4,both
3,2539329.0,1.0,1,2,8,NaN,True,26088.0,4,0,both,Aged White Cheddar Popcorn,23,19,4.7,both
4,2539329.0,1.0,1,2,8,NaN,True,26405.0,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,2977660.0,206209.0,13,1,12,7.0,False,14197.0,5,1,both,Tomato Paste,9,9,5.6,both
32404855,2977660.0,206209.0,13,1,12,7.0,False,38730.0,6,0,both,Brownie Crunch High Protein Bar,3,19,5.9,both
32404856,2977660.0,206209.0,13,1,12,7.0,False,31477.0,7,0,both,High Protein Bar Chunky Peanut Butter,3,19,4.2,both
32404857,2977660.0,206209.0,13,1,12,7.0,False,6567.0,8,0,both,Chocolate Peanut Butter Protein Bar,3,19,4.9,both
32404858,2977660.0,206209.0,13,1,12,7.0,False,22920.0,9,0,both,Roasted & Salted Shelled Pistachios,117,19,1.7,both

In [57]:
df= df_ords_prods_merge [:1000000]

Do you remember this colon syntax? Previously, you had a number before the colon, indicating that the subset would include everything from that number until the end of the dataframe. Now, you have a number after the colon. This indicates that the subset should include everything from the beginning of the dataframe up to that number—in this case, the first one million rows in the dataframe.

In [58]:
df

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,merge_indicator
0,2539329.0,1.0,1,2,8,NaN,True,196.0,1,0,both,Soda,77,7,9.0,both
1,2539329.0,1.0,1,2,8,NaN,True,14084.0,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,2539329.0,1.0,1,2,8,NaN,True,12427.0,3,0,both,Original Beef Jerky,23,19,4.4,both
3,2539329.0,1.0,1,2,8,NaN,True,26088.0,4,0,both,Aged White Cheddar Popcorn,23,19,4.7,both
4,2539329.0,1.0,1,2,8,NaN,True,26405.0,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2789027.0,6474.0,2,3,8,30.0,False,3020.0,7,0,both,Broccoli & Apple Stage 2 Baby Food,92,18,12.9,both
999996,2789027.0,6474.0,2,3,8,30.0,False,35823.0,8,0,both,Complete Foaming Antibacterial Hand Soap Varie...,127,11,7.3,both
999997,2789027.0,6474.0,2,3,8,30.0,False,27681.0,9,0,both,Lower Sugar Instant Oatmeal Variety,130,14,3.5,both
999998,2789027.0,6474.0,2,3,8,30.0,False,2091.0,10,0,both,Almond Nut & Rice Cracker Snacks,78,19,6.8,both
999999,2789027.0,6474.0,2,3,8,30.0,False,44199.0,11,0,both,Toll House Mini Chocolate Chip Cookie Dough,105,13,2.9,both

In [59]:
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

As you’re creating this function yourself, you need to start by defining it using the def syntax at the beginning of the code. Following this is the name you want to give your new function: price_label. In the parentheses is row, which is a standard argument telling the function to look at each row within the dataframe. Finally, everything’s finished off with a colon. The colon separates the head, where you provide the name and argument(s) for your function, from the body, which is what the function will actually do.

Wonderful! You now have a function called price_label that will essentially apply a string label to every row within your dataframe, designating it as a low-, mid-, or high-range product based on its price. Now that you’ve defined it, you need to use it (just like you used functions like merge() or define() in the past). Let’s use it on your df dataframe now:

In [60]:
df['price_range'] = df.apply(price_label, axis=1)

C:\Users\ryani\AppData\Local\Temp\ipykernel_27296\2848743372.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [61]:
#On the right side of the equals sign comes the code that runs your new function: df.apply(price_label, axis=1), which tells Python to apply the price_label function on axis=1. This axis = 1 stands for “rows,” so this code essentially tells Python to apply the function to all rows within the dataframe. Conversely, axis = 0 would refer to all columns within the dataframe.

df

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,merge_indicator,price_range
0,2539329.0,1.0,1,2,8,NaN,True,196.0,1,0,both,Soda,77,7,9.0,both,Mid-range product
1,2539329.0,1.0,1,2,8,NaN,True,14084.0,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-range product
2,2539329.0,1.0,1,2,8,NaN,True,12427.0,3,0,both,Original Beef Jerky,23,19,4.4,both,Low-range product
3,2539329.0,1.0,1,2,8,NaN,True,26088.0,4,0,both,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product
4,2539329.0,1.0,1,2,8,NaN,True,26405.0,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2789027.0,6474.0,2,3,8,30.0,False,3020.0,7,0,both,Broccoli & Apple Stage 2 Baby Food,92,18,12.9,both,Mid-range product
999996,2789027.0,6474.0,2,3,8,30.0,False,35823.0,8,0,both,Complete Foaming Antibacterial Hand Soap Varie...,127,11,7.3,both,Mid-range product
999997,2789027.0,6474.0,2,3,8,30.0,False,27681.0,9,0,both,Lower Sugar Instant Oatmeal Variety,130,14,3.5,both,Low-range product
999998,2789027.0,6474.0,2,3,8,30.0,False,2091.0,10,0,both,Almond Nut & Rice Cracker Snacks,78,19,6.8,both,Mid-range product
999999,2789027.0,6474.0,2,3,8,30.0,False,44199.0,11,0,both,Toll House Mini Chocolate Chip Cookie Dough,105,13,2.9,both,Low-range product

In [62]:
#Count the new variables
df.value_counts ('price_range', dropna=False)

price_range
Mid-range product    673183
Low-range product    314549
High range            12268
Name: count, dtype: int64

In [63]:
df['prices'].max()

25.0

In [67]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [68]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [69]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [71]:
df['price_range_loc'].value_counts (dropna=False)

price_range_loc
Mid-range product     673183
Low-range product     314549
High-range product     12268
Name: count, dtype: int64

In [78]:
df_ords_prods_merge.loc [df_ords_prods_merge ['prices'] <=5, 'price-range-loc'] = 'Low-range product'

In [79]:
df_ords_prods_merge.loc [df_ords_prods_merge ['prices'] >15, 'price-range-loc'] = 'High-range product'

In [80]:
df_ords_prods_merge.loc [(df_ords_prods_merge ['prices'] <=15) & (df_ords_prods_merge ['prices'] >5), 'price-range-loc'] = 'Mid-range product'

In [81]:
df_ords_prods_merge ['price-range-loc'].value_counts(dropna=False)

price-range-loc
Mid-range product     21860860
Low-range product     10131448
High-range product      412551
Name: count, dtype: int64

In [87]:
df_ords_prods_merge['orders_day_of_week'].value_counts(dropna=False)

orders_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [84]:
result = []

for value in df_ords_prods_merge["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [85]:
df_ords_prods_merge ['Busiest day'] = result

In [86]:
df_ords_prods_merge ['Busiest day'].value_counts (dropna=False)

Busiest day
Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

# E4.7....................................................................

# 2. Suppose your clients have changed their minds about the labels you created in your “busiest_day” column. Now, they want “Busiest day” to become “Busiest days” (plural). This label should correspond with the two busiest days of the week as opposed to the single busiest day. At the same time, they’d also like to know the two slowest days. Create a new column for this using a suitable method.

In [109]:
result_3 = []

for value in df_ords_prods_merge["orders_day_of_week"]:
  if value == 0:
    result_3.append("Busiest days")
  elif value == 1:
    result_3.append("Busiest days")
    
  elif value == 4:
    result_3.append("Slowest days")
  elif value == 3:
    result_3.append("Slowest days")
      
  else:
    result_3.append("Regularly busy")

In [110]:
df_ords_prods_merge ['Busiest days'] = result_3

# Check the values of this new column for accuracy. Note any observations in markdown format.

In [113]:
df_ords_prods_merge.head (100)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,merge_indicator,price-range-loc,Busiest day,Busiest days
0,2539329.0,1.0,1,2,8,NaN,True,196.0,1,0,both,Soda,77,7,9.0,both,Mid-range product,Busiest days,Regularly busy
1,2539329.0,1.0,1,2,8,NaN,True,14084.0,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-range product,Busiest days,Regularly busy
2,2539329.0,1.0,1,2,8,NaN,True,12427.0,3,0,both,Original Beef Jerky,23,19,4.4,both,Low-range product,Busiest days,Regularly busy
3,2539329.0,1.0,1,2,8,NaN,True,26088.0,4,0,both,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Busiest days,Regularly busy
4,2539329.0,1.0,1,2,8,NaN,True,26405.0,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product,Busiest days,Regularly busy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,738281.0,2.0,4,2,10,8.0,False,21150.0,13,0,both,Fire Grilled Steak Bowl,38,1,5.9,both,Mid-range product,Busiest days,Regularly busy
96,1673511.0,2.0,5,3,11,8.0,False,47144.0,1,0,both,Unsweetened Original Almond Breeze Almond Milk,91,16,14.0,both,Mid-range product,Busiest days,Slowest days
97,1673511.0,2.0,5,3,11,8.0,False,5322.0,2,0,both,Gluten Free Dark Chocolate Chunk Chewy with a ...,3,19,2.9,both,Low-range product,Busiest days,Slowest days
98,1673511.0,2.0,5,3,11,8.0,False,17224.0,3,0,both,Oats & Honey Gluten Free Granola,3,19,1.6,both,Low-range product,Busiest days,Slowest days
99,1673511.0,2.0,5,3,11,8.0,False,38656.0,4,0,both,Gluten Free Peanut Butter Dark Chocolate Chewy...,3,19,3.4,both,Low-range product,Busiest days,Slowest days

Seems to be correct. Previous column 'Busiest Day' seems not to have worked though.

# 4. When too many users make Instacart orders at the same time, the app freezes. The senior technical officer at Instacart wants you to identify the busiest hours of the day. Rather than by hour, they want periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.” Create a new column containing these labels called “busiest_period_of_day.”

In [120]:
# What are the busiest hours?
df_ords_prods_merge['order_hour_of_day'].value_counts(dropna=False)

order_hour_of_day
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

10,11,14,15,13,12,16,9 = Most Orders ___________
17,8,18,19,20,7,21,22  = Average Orders ___________
23,6,0,1,5,2,4,3      = Fewest Orders ___________

In [116]:
result_3 = []

for value in df_ords_prods_merge["order_hour_of_day"]:
  if value == 10:
    result_3.append("Most Orders")
  elif value == 11:
    result_3.append("Most Orders")
  elif value == 14:
    result_3.append("Most Orders")
  elif value == 15:
    result_3.append("Most Orders")
  elif value == 13:
    result_3.append("Most Orders")
  elif value == 12:
    result_3.append("Most Orders")
  elif value == 16:
    result_3.append("Most Orders")
  elif value == 9:
    result_3.append("Most Orders")
    
  elif value == 17:
    result_3.append("Average Orders")
  elif value == 8:
    result_3.append("Average Orders")
  elif value == 18:
    result_3.append("Average Orders")
  elif value == 19:
    result_3.append("Average Orders")
  elif value == 20:
    result_3.append("Average Orders")
  elif value == 7:
    result_3.append("Average Orders")
  elif value == 21:
    result_3.append("Average Orders")
  elif value == 22:
    result_3.append("Average Orders")

  elif value == 23:
    result_3.append("Fewest Orders")
  elif value == 6:
    result_3.append("Fewest Orders")
  elif value == 0:
    result_3.append("Fewest Orders")
  elif value == 1:
    result_3.append("Fewest Orders")
  elif value == 5:
    result_3.append("Fewest Orders")
  elif value == 2:
    result_3.append("Fewest Orders")
  elif value == 4:
    result_3.append("Fewest Orders")
  elif value == 3:
    result_3.append("Fewest Orders")

df_ords_prods_merge ['busiest_period_of_day.'] = result_3
df_ords_prods_merge

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,merge_indicator,price-range-loc,Busiest day,Busiest days,busiest_period_of_day.
0,2539329.0,1.0,1,2,8,NaN,True,196.0,1,0,both,Soda,77,7,9.0,both,Mid-range product,Busiest days,Regularly busy,Average Orders
1,2539329.0,1.0,1,2,8,NaN,True,14084.0,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-range product,Busiest days,Regularly busy,Average Orders
2,2539329.0,1.0,1,2,8,NaN,True,12427.0,3,0,both,Original Beef Jerky,23,19,4.4,both,Low-range product,Busiest days,Regularly busy,Average Orders
3,2539329.0,1.0,1,2,8,NaN,True,26088.0,4,0,both,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Busiest days,Regularly busy,Average Orders
4,2539329.0,1.0,1,2,8,NaN,True,26405.0,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product,Busiest days,Regularly busy,Average Orders
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,2977660.0,206209.0,13,1,12,7.0,False,14197.0,5,1,both,Tomato Paste,9,9,5.6,both,Mid-range product,Busiest days,Busiest days,Most Orders
32404855,2977660.0,206209.0,13,1,12,7.0,False,38730.0,6,0,both,Brownie Crunch High Protein Bar,3,19,5.9,both,Mid-range product,Busiest days,Busiest days,Most Orders
32404856,2977660.0,206209.0,13,1,12,7.0,False,31477.0,7,0,both,High Protein Bar Chunky Peanut Butter,3,19,4.2,both,Low-range product,Busiest days,Busiest days,Most Orders
32404857,2977660.0,206209.0,13,1,12,7.0,False,6567.0,8,0,both,Chocolate Peanut Butter Protein Bar,3,19,4.9,both,Low-range product,Busiest days,Busiest days,Most Orders
32404858,2977660.0,206209.0,13,1,12,7.0,False,22920.0,9,0,both,Roasted & Salted Shelled Pistachios,117,19,1.7,both,Low-range product,Busiest days,Busiest days,Most Orders

# 5. Print the frequency for this new column.

In [119]:
df_ords_prods_merge['busiest_period_of_day.'].value_counts (dropna=False)

busiest_period_of_day.
Most Orders       21118071
Average Orders     9997651
Fewest Orders      1289137
Name: count, dtype: int64

# Export your dataframe as a pickle file (since you added new columns) and store it correctly in your “Prepared Data” folder.

In [121]:
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge_req.pkl'))